/* Move down content because we have a fixed navbar that is 50px tall 
body {
    padding-top: 50px;
    padding-bottom: 20px;
}



.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


input,
select,
textarea {
    max-width: 280px;
}



@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}*/
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.tbox{   
    width: 384px;
    border-radius: 20px;
    height: 37px;
}

.save {
    width: 80px !important;
    height: 37px;
    border-radius: 6px;
    height: 37px;
}











/*label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 15px;
    padding-bottom: 7px;
    font-weight: bold;
}
.row-fluid .span6 {
    border-radius: 15px;
    height: 35px;
}
.row-fluid .span4 {
    width: 25.717948717948715%;
    border-radius: 20px;
    width: 255px;
}
.row-fluid .textArea {
    width: 28.717948717948715%;
    border-radius: 15px;
    height: 66px;
}


/*radio Button css*/
/*.radio{
    font-size:15px;
    position:relative;
}*/
 
 